<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link rel="icon" href="../../favicon.ico">#}

    <title>{% block title%}{% endblock %}</title>

    <!--default bootstrap-->
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'conferences/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {#<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}

    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
    <div class = "navbar-inner">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main' %}">Курсовая</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li><a href="{% url 'scientists' %}">Учёные</a></li>
            <li><a href="{% url 'cities' %}">Города</a></li>
            <li><a href="{% url 'themes' %}">Научные тематики</a></li>
            <li><a href="{% url 'conferences' %}"">Конференции</a></li>
            <li></li>
          </ul>

            <form class="navbar-form pull-right" >
                {% if not request.user.is_authenticated %}
                 <a class="btn btn-default" href = "{% url 'login' %}">Войти</a>
                {% else %}
                <div class="input-group">
                     <span class="input-group-addon" id="sizing-addon1"> {{ request.user.username }}</span>
{#                    <a class = "btn btn-default">{{ request.user.username }}</a>#}
            </div>
                 <a class="btn btn-default" href = "{% url 'logout' %}">Выйти</a>
                {% endif %}
            </form>
        </div><!--/.nav-collapse -->


      </div>
    </div>
    </nav>

    <div class="container">

          {% block content %}
          {% endblock %}

    </div><!-- /.container -->
    <br></br>
    <div class="navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
          <div class="container">
          </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'conferences/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'conferences/js/bootstrap.min.js' %}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
