{% extends "conferences/base.html" %}

{% block content %}
    <div class = "container">
      <div class="page-header">
        <h1>Города</h1>
      </div>
        <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Численность</th>
                <th>Категория</th>
                {% if request.user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for s in cities %}
                    <tr>
                        <th>{{ s.name }}</th>
                        <th>{{ s.population }}</th>
                        <th>{{ s.category }}</th>
                        {% if request.user.is_authenticated %}
                        <th>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_city'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_city'  s.id  %}">Удалить</a>
                        </th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_authenticated %}
        <a class = "btn btn-default" href = "{% url 'add_city' %}">Добавить город</a>
        {% endif %}


        <script src="https://www.google.com/jsapi"></script>
        <script type = "text/javascript">
            var data = [['Город','Количество учёных']
            {% for name_, count in diagram_data %}
                ,[ '{{ name_ }}' , {{ count }}]
            {% endfor %}];
        </script>

        <div id="air" style="width: 500px; height: 400px;"></div>
        {% load staticfiles %}
        <script src = "{% static 'conferences/js/draw_diagram.js' %}"></script>
    </div>
{% endblock %}