{% extends "conferences/base.html" %}

{% block content %}
    <div class = "container">
      <div class="page-header">
        <h1>Конференции</h1>
      </div>
        <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Город</th>
                <th>Тематика</th>
                <th>Уровень</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for s in conferences %}
                    <tr>
                        <th>{{ s.name }}</th>
                        <th>{{ s.city }}</th>
                        <th>{{ s.theme }}</th>
                        <th>{{ s.level}}</th>
                        <th>{{ s.start_date }}</th>
                        <th>{{ s.finish_date }}</th>
                        <th>
                        <a class = "btn btn-primary btn-xs" href = "{% url 'participants'  s.id  %}">Список участников</a>
                        {% if request.user.is_authenticated %}
                            <br>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_conference'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_conference'  s.id  %}">Удалить</a>
                            </br>
                        {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_authenticated %}
          <p></p><a class = "btn btn-default" href = "{% url 'add_conference' %}">Добавить конференцию</a></p>
        {% endif %}
        <div class = "col-lg-3" >
            <form method = "POST" class = "well bs-component">
                {% csrf_token %}
                {% for field in form %}
                   <br>  {{ field.label_tag }} </br>
                    <br> {{ field }} </br>
                {% endfor %}
                <br><input class = "btn btn-default" type="submit" name = "view_data" value="Отобразить"></br>
                <br><input class = "btn btn-default" type="submit" name="get_xls" value="Получить xls отчёт" /></br>
            </form>
        </div>
    </div>
{% endblock %}