{% extends "conferences/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <form  method="post">
  <div class = "container">
      <div class="page-header">
        <h1>{{ title }}</h1>
      </div>
      <div class = "bs-docs-grid">
      <div class = "row show-grid">
          {% csrf_token %}
          {% for field in form %}
           <div class="span1"> {{ field.label_tag }} </div>
           <div class="span2"> {{ field }} </div>
          {% endfor %}
   </div class="span1">
   </div>
    <br><input class = "btn btn-default" type="submit" value="Готово" /></br>
 </form>
{% endblock %}