{% extends "conferences/base.html" %}

{% block content %}
    <br class = "container">
      <div class="page-header">
        <h1>Участники конференции</h1>
      </div>
        <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Учёный</th>
                <th>Конференция</th>
                <th>Количество докладов</th>
                {% if request.user.is_authenticated %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for s in participants %}
                    <tr>
                        <th>{{ s.scientist }}</th>
                        <th>{{ s.conference }}</th>
                        <th>{{ s.cnt_reports }}</th>
                        {% if request.user.is_authenticated %}
                        <th>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'delete_participant'  s.conference.id s.scientist.id  %}">Удалить</a>
                        </th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class = "col-lg-3">
        {% if request.user.is_authenticated %}
            <form  method="post" class = "well bs-component">
                {% csrf_token %}
                {% for field in form %}
                   <br>  {{ field.label_tag }} </br>
                    <br> {{ field }} </br>
                {% endfor %}
                <br><input class = "btn btn-default" type="submit" value="Добавить/Изменить" /></br>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}