{% extends "conferences/base.html" %}

{% block content %}
    <div class = "container">
      <div class="page-header">
        <h1>Учёные</h1>
      </div>
        <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Тематика</th>
                <th>Город</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for s in scientists %}
                    <tr>
                        <th>{{ s.last_name }}</th>
                        <th>{{ s.first_name }}</th>
                        <th>{{ s.middle_name }}</th>
                        <th>{{ s.birthday }}</th>
                        <th>{{ s.theme }}</th>
                        <th>{{ s.city }}</th>
                        <th>
                        <a class = "btn btn-primary btn-xs" href = "{% url 'scientist_information'  s.id  %}">Подробная информация</a>
                        {% if request.user.is_authenticated %}
                            <br>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_scientist'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_scientist'  s.id  %}">Удалить</a>
                            </br>
                        {% endif %}
                        </th>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_authenticated %}
        <a class = "btn btn-default" href = "{% url 'add_scientist' %}">Добавить учёного</a>
        {% endif %}
    </div>
{% endblock %}