{% extends "conferences/base.html" %}

{% block content %}
    <div class = "page-header">
        <h1>{{ s.last_name }} {{ s.first_name }} {{ s.middle_name }}</h1>
    </div>
    <br>
        Дата рождения : {{ s.birthday }}
    </br>
    <br>
        Город : {{ s.city }}
    </br>
    <br>
       Тематика исследований: {{ s.theme }}
    </br>
    <br>
    <a class = "btn btn-default" href = "{% url 'modify_scientist'  s.id  %}">Изменить</a>
    </br>
    <h3>Конференции, в которых зарегистрирован учёный</h3>

    <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Город</th>
                <th>Тематика</th>
                <th>Уровень</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for s in confs_scientist %}
                    <tr>
                        <th>{{ s.name }}</th>
                        <th>{{ s.city }}</th>
                        <th>{{ s.theme }}</th>
                        <th>{{ s.level}}</th>
                        <th>{{ s.start_date }}</th>
                        <th>{{ s.finish_date }}</th>
                        <th>
                        <a class = "btn btn-primary btn-xs" href = "{% url 'participants'  s.id  %}">Список участников</a>
                        {% if request.user.is_authenticated %}
                            <br>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_conference'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_conference'  s.id  %}">Удалить</a>
                            </br>
                        {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method = "POST">
            {% csrf_token %}
            <input class = "btn btn-default" type="submit" name="get_scientist_confs" value="Скачать в xls" />
        </form>

    <br></br>
    <h3>Конференции по тематике учёного</h3>

    <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Город</th>
                <th>Тематика</th>
                <th>Уровень</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for s in confs_theme %}
                    <tr>
                        <th>{{ s.name }}</th>
                        <th>{{ s.city }}</th>
                        <th>{{ s.theme }}</th>
                        <th>{{ s.level}}</th>
                        <th>{{ s.start_date }}</th>
                        <th>{{ s.finish_date }}</th>
                        <th>
                        <a class = "btn btn-primary btn-xs" href = "{% url 'participants'  s.id  %}">Список участников</a>
                        {% if request.user.is_authenticated %}
                            <br>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_conference'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_conference'  s.id  %}">Удалить</a>
                            </br>
                        {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method = "POST">
            {% csrf_token %}
            <input class = "btn btn-default" type="submit" name="get_scientist_theme_confs" value="Скачать в xls" />
        </form>

    <br></br>
    <h3>Конференции в городе учёного</h3>

    <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Город</th>
                <th>Тематика</th>
                <th>Уровень</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for s in confs_city %}
                    <tr>
                        <th>{{ s.name }}</th>
                        <th>{{ s.city }}</th>
                        <th>{{ s.theme }}</th>
                        <th>{{ s.level}}</th>
                        <th>{{ s.start_date }}</th>
                        <th>{{ s.finish_date }}</th>
                        <th>
                        <a class = "btn btn-primary btn-xs" href = "{% url 'participants'  s.id  %}">Список участников</a>
                        {% if request.user.is_authenticated %}
                            <br>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_conference'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_conference'  s.id  %}">Удалить</a>
                            </br>
                        {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method = "POST">
            {% csrf_token %}
            <input class = "btn btn-default" type="submit" name="get_scientist_city_confs" value="Скачать в xls" />
        </form>

    <br></br>
    <h3>Города, в которых конференции по тематике учёного</h3>
    <table class = "table table-bordered table-striped">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Численность</th>
                <th>Категория</th>
                {% if request.user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for s in cities_scientist %}
                    <tr>
                        <th>{{ s.name }}</th>
                        <th>{{ s.population }}</th>
                        <th>{{ s.category }}</th>
                        {% if request.user.is_authenticated %}
                        <th>
                            <a class = "btn btn-primary btn-xs" href = "{% url 'modify_city'  s.id  %}">Изменить</a>
                            <a class = "btn btn-warning btn-xs" href = "{% url 'delete_city'  s.id  %}">Удалить</a>
                        </th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method = "POST">
            {% csrf_token %}
            <input class = "btn btn-default" type="submit" name="get_scientist_theme_confs_cities" value="Скачать в xls" />
        </form>
{% endblock %}