{% extends "conferences/base.html" %}

{% block content %}
    <div class = "container">
      <div class="page-header">
        <h1>Транзакция проведена успешно</h1>
      </div>
    </div>
{% endblock %}